body{
    margin:20;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar{
    width: 150px;
}

.card{
    color: #2b2839;
    background: #ddebf8;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-bottom: 10px solid #2b2839;
}

.border-blue{
    border: 2px dotted blue;
}